@model HealHub.Models.Prognosis

@{
    ViewData["Title"] = "Delete";
}
<div style="background-color:white; width:700px;">
<h1>Delete</h1>

<h3>Certeza que vai deletar o Prognostico</h3>
<div>
    <h4>Prognosis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.formId)
        </dd>
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
</div>