@{
    ViewData["Title"] = "Privacy Policy";
}
<div style= "background-color:#022e1f; border-radius:10px; width:650px; height:700px; color:white; align-self:center; display:flex; flex-direction:column; align-items:center; padding-top:50px">
    <h1>Integrantes</h1>

    <ul>
        <li>André Lucas de Oliveira Santi - RM 94327</li>
        <p></p>
        <li>Gabriel Henrique Nascimento Paulino Santos - RM 94430</li>
        <p></p>
        <li>Henrique Alves de Freitas - RM 95725</li>
        <p></p>
        <li>Luan Victor da Silva Sá - RM 93057</li>
        <p></p>
        <li>Ricardo Sung Hoon Kim - RM 94190</li>
        <p></p>
    </ul>
</div>

